.Home{
    height: 568px;
    /* background-image: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d); */
    background-image: linear-gradient(to right, #5a3f37, #2c7744);
}
.Home-Header{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 150px;
    left: 480px;
    padding: 10px;
    border-radius: 5px;
    letter-spacing: 2px;
    color: white;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
}
.Home-con{
    position: relative;
    top: 280px;
    left: 420px;
    max-width: 500px;
    width: 100%;
    padding: 10px;
    color: white;
    border-radius: 5px;
    
    background-image: linear-gradient(to right, #434343 0%, black 100%);
}
.Home-Header:hover{
    /* background-image: linear-gradient(to right, #5a3f37, #2c7744); */
    background-image: linear-gradient(to right, #ff9966, #ff5e62);
}
.Home-con:hover{
    /* background-image: linear-gradient(to right, #5a3f37, #2c7744); */
    background-image: linear-gradient(to right, #ff9966, #ff5e62);
}